.table td .image{
    width: 100px;
    object-fit: cover;
}
.table > thead > tr > th{
    text-align:center;
    vertical-align:middle;
}
.table > tbody > tr > td {
    vertical-align: middle;
}
.table tbody tr .actionBtns {
    padding: 29px 12px;
}
.table td.cell-sm{
    max-width:120px;
    width:120px;
    overflow:hidden;
}
.table td.cell-md {
    max-width: 250px;
    width: 250px;
    overflow: hidden;
}
.ck-content{
    min-height:250px;
}
.photo-viewer {
    width: 200px;
    height: 100px;
    background-position: center;
    background-image: url('https://png.pngtree.com/png-vector/20191129/ourlarge/pngtree-image-upload-icon-photo-upload-icon-png-image_2047546.jpg');
    background-size: contain;
    background-repeat:no-repeat;
    cursor: cell;
}
.photo-viewer + input[type="file"]{
    display:none;
}
.form-groupImage{
    display:flex;
    align-items:center;
}
@media (max-width:1200px) {
    td .ellipse{
        max-width:50px;
        white-space:nowrap;
        overflow:hidden;
    }
}