
@{
    ViewData["Title"] = "Profile";
}
<section class="page-top-section d-flex align-items-center">
    <div class="page-top-bg" data-img-src="https://wordpressriverthemes.com/adhira/wp-content/themes/adhira/assets/img/pagetop/1.jpg"></div>
    <div class="container">
        <h2 class="page-title">Team Single<span class="text-theme">.</span></h2>
    </div>
    <div class="top-img d-xl-block d-none"><img src="https://wordpressriverthemes.com/adhira/wp-content/themes/adhira/assets/img/pagetop/1.png"></div>
    <div class="shape-left circle_shape"></div>
    <div class="shape-right rectangle_shape"></div>
</section>
<div class="vc_row wpb_row vc_row-fluid">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <section class="sec-pt-120 sec-pb-120">
                    <div class="container">
                        <div class="team-single-area">
                            <div class="top-info">
                                <div class="row align-center">
                                    <div class="col-lg-5 thumb">
                                        <img src="https://wordpressriverthemes.com/adhira/wp-content/uploads/2021/05/team.jpg" alt="Thumb">
                                    </div>
                                    <div class="col-lg-7 content">
                                        <h2>Mothan Jobie</h2>
                                        <span>PRESIDENT &amp; CEO</span>
                                        <p>
                                            Another journey chamber way yet females man. Way extensive and dejection get delivered deficient sincerity gentleman age. Too end instrument possession contrasted motionless. Calling offence six joy feeling. Coming merits and was talent.
                                        </p>
                                        <div class="social">
                                            <ul>
                                                <li class="facebook">
                                                    <a href="#">
                                                        <i class="fab fa-facebook-f"></i>
                                                    </a>
                                                </li>
                                                <li class="twitter">
                                                    <a href="#">
                                                        <i class="fab fa-twitter"></i>
                                                    </a>
                                                </li>
                                                <li class="youtube">
                                                    <a href="#">
                                                        <i class="fab fa-youtube"></i>
                                                    </a>
                                                </li>
                                                <li class="linkedin">
                                                    <a href="#">
                                                        <i class="fab fa-linkedin-in"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <ul class="basic-info">
                                            <li>
                                                <strong>Phone: </strong> <span>+123 4569008</span>
                                            </li>
                                            <li>
                                                <strong>Email: </strong> <span><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="c1a0a5aca8af81b7a0ada8a5b5a9a4aca4b2efa2aeac">[email&#160;protected]</a></span>
                                            </li>
                                            <li>
                                                <strong>Website: </strong> <span><a href="https://creativedigital.tech/">https://creativedigital.tech/</a></span>
                                            </li>
                                            <li>
                                                <strong>Experience: </strong> <span>12 Years</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom-info">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <h2>Skills</h2>
                                        <p>
                                            Securing as informed declared or margaret. Joy horrible moreover man feelings own shy. Request norland neither mistake for yet. Between the for morning assured country believe. On even feet time have an no at. Relation so in confined smallest children unpacked delicate.
                                        </p>
                                    </div>
                                    <div class="col-lg-6 about-area reverse">
                                        <div class="info">
                                            <div class="skill-items">
                                                <div class="progress-box">
                                                    <h5>Software Development</h5>
                                                    <div class="progress" style="opacity: 1; left: 0px;">
                                                        <div class="progress-bar" role="progressbar" data-width="88" style="width: 88%;">
                                                            <span>88%</span>
                                                        </div>
                                                    </div>
                                                </div><div class="progress-box">
                                                    <h5>Cyber Security</h5>
                                                    <div class="progress" style="opacity: 1; left: 0px;">
                                                        <div class="progress-bar" role="progressbar" data-width="98" style="width: 98%;">
                                                            <span>98%</span>
                                                        </div>
                                                    </div>
                                                </div><div class="progress-box">
                                                    <h5>Artificial Intelligence</h5>
                                                    <div class="progress" style="opacity: 1; left: 0px;">
                                                        <div class="progress-bar" role="progressbar" data-width="85" style="width: 85%;">
                                                            <span>85%</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

